.quiz-container {
  max-width: 800px;
  margin: 4rem auto;
  background-color: var(--cor-menu-bg);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px var(--cor-sombra);
}

.quiz-container h2 {
  font-size: 1.5rem;
  color: var(--cor-primaria);
  margin-bottom: 2rem;
  text-align: center;
}

#container-perguntas,
#container-resultado {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid var(--cor-borda);
  border-radius: 10px;
  background-color: var(--cor-fundo);
  box-shadow: 0 2px 6px var(--cor-sombra);
}

#pergunta {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--cor-texto);
  text-align: left;
}

#resposta {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid var(--cor-borda);
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: #f2f2f2;
}

#proximo, #reiniciar {
  background-color: var(--cor-primaria);
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s;
}

#proximo:hover, #reiniciar:hover {
  background-color: var(--cor-secundaria);
}

#message {
  margin-top: 1rem;
  font-weight: 600;
  color: var(--cor-primaria);
}

#pontuacao {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--cor-texto);
  margin-bottom: 1rem;
}

#lista-resultado {
  text-align: left;
  padding-left: 1rem;
}

#lista-resultado li {
  margin-bottom: 0.7rem;
  font-size: 0.95rem;
  line-height: 1.4;
}

.hidden {
  display: none;
}

footer{
    margin-top: 22%;
}

@media (max-width: 768px) {
  .quiz-container {
    margin: 2rem 1rem;
    padding: 1rem;
  }
}